
@model Board.Core.ViewModels.PublicationViewModel


@{
    ViewBag.Title = Model.Heading;

}

<h1>@Model.Heading</h1>


@*<div asp-validation-summary="All" class="text-danger"></div>*@

<form asp-controller="Publication" asp-action="Publication" asp-antiforgery="true" method="post" enctype="multipart/form-data" class="mt-3">

    <input asp-for="Publication.Id" type="hidden" />
    
    <div class="form-group row">
        <label asp-for="Publication.Title" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input class="col-sm-7" asp-for="Publication.Title" placeholder="Tytuł">
            <span asp-validation-for="Publication.Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Publication.Content" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea rows="7" class="col-sm-7" asp-for="Publication.Content" placeholder="Treść"></textarea>
            <span asp-validation-for="Publication.Content" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Publication.Category" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select class="col-sm-7" asp-for="Publication.CategoryId" asp-items="Model.CategoriesList"></select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Publication.Price" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input class="col-sm-7" asp-for="Publication.Price" placeholder="Cena">
            <span asp-validation-for="Publication.Price" class="text-danger"></span>
        </div>
    </div>
    @*@if (Model.Heading == "Edytowanie ogłoszenia")
    {*@

<div>
    @await Html.PartialAsync("_EditTableImages.cshtml", Model.FilesList)

</div>

        

    @*}
    else
    {*@
        <div>

            <input class="col-sm-7" id="filesToUpload" type="file" asp-for="FileModels" multiple accept="image/jpeg,image/png,image/jpg" />
            <input type="hidden" asp-for="FileModels" />
            <span asp-validation-for="FileModels" class="text-danger"></span>
            <br /><br />

        </div>
    @*}*@
    <output class="col-sm-10" id="out"></output>

    <button type="submit" class="btn btn-primary btn-lg mt-2">Zapisz</button>
    <input type="button" value="Cancel" onclick="location.href='@Url.Action("Publications","Publication")';" class="btn btn-secondary btn-lg mt-2" />

</form>

 @section Scripts
{
     <script type="text/javascript">


            document.querySelector("#filesToUpload").addEventListener("change", (e) => {
                if (window.File && window.FileReader && window.FileList && window.Blob) {
                    const files = e.target.files;
                    const output = document.querySelector("#out");

                    output.innerHTML = "";
                    for (let i = 0; i < files.length; i++) {
                        if (!files[i].type.match("image")) continue;
                        const imgReader = new FileReader();
                        imgReader.addEventListener("load", function (event) {
                            const imgFile = event.target;
                            const img = document.createElement("img");
                            img.className = "thumbnail"
                            img.src = imgFile.result
                            output.appendChild(img);
                            console.log(img);

                        });
                        imgReader.readAsDataURL(files[i]);

                    }
                } else {
                    alert("Your browser does not support File API");
                }
            });


         function Remove(picNumber) {
             if (!confirm("Czy chcesz usunąć obrazek?"))
                 return;
            alert(picNumber);
             alert(@Model.Publication.Id)
             $.ajax({
                 type: "POST",
                 url: "@Url.Action("RemovePicture","Publication")",
                 data: {
                     id: @Model.Publication.Id,
                     picNumber: picNumber
                 },
                 success: function (data) {
                     if (data.success) {
                        
                         alert("Obrazek usunięty");
                         location.reload(true);
                         
                     }
                     else {
                         alert(data.message);
                     }
                 },
                 error: function (data) {
                     alert(data.message)
                 },
                 dataType: "json"
             });
         }

     </script>

    }
